<div class="container">
    <div class="section-header">
        <h2>Participants</h2>
        <p>Meet the participating organizations of Community Theatre Thrives</p>
    </div>

    <div class="row">
        {{#each speakers}}
        <div class="col-lg-4 col-md-6">
            <div class="speaker">
                <img src={{#if image }} {{ image }} {{else}} 'assets/img/speakers/default.png' {{/if}} alt={{ name }}
                    class="img-fluid" />
                <div class="details">
                    {{!-- <h3><a href="speaker-details.html">{{ name }}</a></h3> --}}
                    <h3>{{ name }}</h3>
                    <p>{{#if desc }} {{ desc }} {{else}} TBD {{/if}}</p>
                    <div class="social">
                        {{#if website }}<a href={{ website }} target="_blank"><i class="fa fa-globe"></i></a>{{/if}}
                        {{#if email }}<a href="mailto:{{ email }}" target="_blank"><i
                                class="fa fa-envelope"></i></a>{{/if}}
                        {{#if phone }}<a href="tel:{{ phone }}" target="_blank"><i class="fa fa-phone"></i></a>{{/if}}
                        {{#if facebook }}<a href={{ facebook }} target="_blank"><i
                                class="fa fa-facebook"></i></a>{{/if}}
                        {{#if twitter }}<a href={{ twitter }} target="_blank"><i class="fa fa-twitter"></i></a>{{/if}}
                        {{#if instagram }}<a href={{ instagram }} target="_blank"><i
                                class="fa fa-instagram"></i></a>{{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>